:root {
    font-size: 62.5%; /* (62.5/100) * 16px = 10px */
    --font-size--small: 1.2rem; /* 12px */
    --font-size--default: 1.6rem; /* 14px */
    --font-size--big: 1.6rem; /* 16px */
    --font-size--large: 2rem; /* 18px */

    --buttton-color--basic: #7E4C2A;
  }

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

body{
    background-color: #FFFFFF;
}

h1{
    margin: 0;
}

.flex-container {
    max-width: 1440px;
    max-height: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start; /* Always on main axis */
    align-items: start; /* Always on cross axis */
}


.flex-img{
    width: 505px;
    height: 330px;
    margin: 96px auto 30px;
    background: url(../../images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_ar_4_3\,c_fill\,g_auto__c_scale\,w_538.jpg);
}

.flex-content{
    max-width: 505px;
    margin: 0px auto;
    padding: 0 20px;
}

.main-button {
    background-color: var(--buttton-color--basic);
    color: #FFFFFF;
    width: 100px;
    padding: 10px 20px;
    border: none;
    border-radius: 32px;
}


.flex-item-1{
    font-size: var(--font-size--default);
    align-self: flex-start;
    
}

.flex-item-2 {
    padding: 10px 0;
    font-size: var(--font-size--default);
}

.flex-item-3 {
    margin-top: 20px;
    align-self: stretch;
}

.modal {
    position: fixed;
    top:60%;
    left: 50%;
    padding: 10px 15px 20px 55px;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: #FFFFFF;
    width: 920px;
    height: 210px;
    max-width: 70%;
}

.modal.active{
    transform: translate(-50%, -50%) scale(1);
}

.modal-header{
    padding-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}

.modal-header .title {
    font-size: var(--font-size--big);
    font-weight: bold;
}

.modal-header .close-button{
    padding-left: 98%;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body{
    display: flex;
    font-size: var(--font-size--default);
    padding-top: 10px;
}


.reset{
    display: none;
    background-color: var(--buttton-color--basic);
    color: white;
    width: 100px;
    padding: 10px 20px;
    border: none;
    border-radius: 32px;
}
 .reset.active{
    display: block;
    font-size: var(--font-size--default);
    margin: 60px 10px auto auto;
    background-color: var(--buttton-color--basic);
    border-color: var(--buttton-color--basic);
    color: white;
    width: 100px;
    padding: 10px 20px;
    border-radius: 32px;
} 



#overlay{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}

 @media (min-width: 668px){

    .modal-body{
        display: flex;
        font-size: var(--font-size--default) ;
        padding-top: 10px;
    }
    
    .modal-header{
        padding-bottom: 20px;
        justify-content: space-between;
        align-items: center;
    }

    .modal-header .title {
        font-size: var(--font-size--big);
        font-weight: bold;
    }
    
    .reset{
        display: none;
        background-color: var(--buttton-color--basic);
        color: white;
        width: 100px;
        padding: 10px 20px;
        border-radius: 32px;
    }
     .reset.active{
        display: block;
        margin: 60px 10px auto auto;
        background-color: var(--buttton-color--basic);
        border-color: #E4C1AE;
        color: white;
        width: 100px;
        padding: 10px 20px;
        border-radius: 32px;
    } 
    

    .flex-container {
    min-width: 668px;
    min-height: 960px;
    /* border: 2px solid green; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: start; /* Always on main axis */
    align-items: start; /* Always on cross axis */
    }

    .flex-img{
        min-width: 340px;
        height: 260px;
        margin: 96px 0 0 50px; 
        /* border: 2px solid red; */
        background: url(../../images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_ar_4_3\,c_fill\,g_auto__c_scale\,w_538.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        flex-basis: 340px;
        flex-grow: 0;
    }

    .flex-content {
        display: flex;
        flex-direction: column;
        min-width: 200px;
        /* border: 2px solid green; */
        margin: 136px 30px 0 55px;
        padding: 0;
        height: 200px;
        flex-grow: 2;
        justify-content: center;
        
    }

    .flex-item-1{
        padding: 10px 0 10px 0;
        font-size: var(--font-size--default);
        /* border: 1px solid green; */
        align-self: flex-start;   
    }
    .flex-item-2 {
        /* border: 1px solid black; */
        font-size: var(--font-size--default);
        padding: 5px 0;
    }
    
    .flex-item-3 {
        margin-top: 5px;
        align-self: stretch;
    }
    
 }

 @media (min-width: 845px){

    .flex-container {
        min-width: 845px;
        min-height: 960px;
        display: flex;
        justify-content: start; /* Always on main axis */
        align-items: start; /* Always on cross axis */
    }
    
    .flex-img{
        min-width: 430px;
        height: 300px;
        margin: 96px 0 0 100px; 
        /* border: 2px solid red;  */
        background: url(../../images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_ar_4_3\,c_fill\,g_auto__c_scale\,w_538.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        flex-basis: 300px;
        flex-grow: 0;
    }
    
    .flex-content {
        display: flex;
        flex-direction: column;
        /* border: 2px solid yellow; */
        margin: 136px 30px 0 55px;
        padding: 0;
        width: 300px;
        height: 225px;
        flex-grow: 1;
        justify-content: start;
    }

    .flex-item-1{
        padding: 10px 0 20px 0;
        font-size: var(--font-size--default);
        align-self: flex-start;    
    }
    .flex-item-2 {
        /* border: 1px solid black; */
        padding: 10px 0;
        font-size: var(--font-size--default);
    }
    
    .flex-item-3 {
        margin-top: 10px;
        align-self: stretch;
    }
 }

 @media (min-width: 920px){

    .modal {
        position: fixed;
        top:60%;
        left: 50%;
        padding: 10px 15px 20px 95px;
        transform: translate(-50%, -50%) scale(0);
        transition: 200ms ease-in-out;
        border: 1px solid black;
        border-radius: 10px;
        z-index: 10;
        background-color: #FFFFFF;
        width: 920px;
        height: 210px;
        max-width: 70%;
    }

    .flex-container {
        min-width: 845px;
        min-height: 960px;
        display: flex;
        justify-content: start; /* Always on main axis */
        align-items: start; /* Always on cross axis */
    }
    
    .flex-img{
        min-width: 450px;
        height: 300px;
        margin: 96px 0 0 100px; 
        /* border: 2px solid red;  */
        background: url(../../images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_ar_4_3\,c_fill\,g_auto__c_scale\,w_538.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        flex-basis: 300px;
        flex-grow: 0;
    }
    
    .flex-content {
        display: flex;
        flex-direction: column;
        /* border: 2px solid yellow; */
        margin: 136px 30px 0 55px;
        padding: 0;
        width: 300px;
        height: 225px;
        flex-grow: 1;
        justify-content: start;
    }

    .flex-item-1{
        padding: 10px 0 20px 0;
        font-size: var(--font-size--big);
        /* border: 1px solid green; */
        align-self: flex-start;    
    }
    .flex-item-2 {
        /* border: 1px solid black; */
        padding: 10px 0;
        font-size: var(--font-size--default);
    }
    
    .flex-item-3 {
        margin-top: 10px;
        align-self: stretch;
    }
 }

 
 @media (min-width: 1440px){

    .modal {
        position: fixed;
        top:60%;
        left: 50%;
        padding: 10px 15px 20px 95px;
        transform: translate(-50%, -50%) scale(0);
        transition: 200ms ease-in-out;
        border: 1px solid black;
        border-radius: 10px;
        z-index: 10;
        background-color: #FFFFFF;
        width: 920px;
        height: 210px;
        max-width: 70%;
    }

    .flex-container {
        min-width: 1440px;
        min-height: 960px;
        display: flex;
        justify-content: start; /* Always on main axis */
        align-items: start; /* Always on cross axis */
    }
    
    .flex-img{
        min-width: 300px;
        height: 330px;
        margin: 96px 0 0 230px; 
        /* border: 2px solid red; */
        background: url(../../images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_ar_4_3\,c_fill\,g_auto__c_scale\,w_538.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        flex-basis: 505px;
        flex-grow: 0;
    }
    
    .flex-content{
        max-width: 380px;
        margin: 136px auto 0 95px;
        padding: 0 20px;
    }
    
    .main-button {
        background-color: var(--buttton-color--basic);
        color: #FFFFFF;
        width: 100px;
        padding: 10px 20px;
        border-radius: 32px;
    }
    
    .flex-item-1{
        padding: 0;
        /* border: 1px solid yellow; */
        align-self: flex-start;    
    }
    .flex-item-2 {
        /* border: 1px solid black */
    }
    
    .flex-item-3 {
        align-self: stretch;
    }
 }
